<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #333;
        }
        .names{
            list-style: none;
        }
    </style>
</head>
<body>
    <ul>
            <% users.forEach(user =>{ %>
                <li class = "names"><h1> <%= user %></h1></li>
            <% })%>
    </ul>
</body>
</html>